/* ===== ESTILO BASE (ESCRITORIO) ===== */
    body {
      margin: 0;
      font-family: Arial, sans-serif;
      background-color: lightblue;
      text-align: center;
      padding: 40px;
    }

    h1 {
      color: #3c2585;
    }

    /* Contenedor del elemento */
    .contenedor {
      display: flex;
      flex-direction: row; /* Escritorio */
      gap: 15px;
      margin-top: 30px;
    }

    .caja {
      flex: 1;
      padding: 30px;
      background-color: rgb(228, 188, 188);
      border: 2px solid #1fd307;
    }

    /* ===== BREAKPOINT 1200px ===== */
    @media (max-width: 1200px) {
      body {
        background-color: rgb(208, 28, 28);
      }
    }

    /* ===== BREAKPOINT 992px ===== */
    @media (max-width: 992px) {
      body {
        background-color: lightgreen;
      }
    }

    /* ===== BREAKPOINT 768px ===== */
    @media (max-width: 768px) {
      body {
        background-color: rgb(226, 226, 25);
      }

      /* Cambio de disposición del elemento */
      .contenedor {
        flex-direction: column;
      }
    }