.formulario {
  display: flex;
  flex-direction: column;
  align-items: center;     
  padding: 30px 15px;
}
.formulario h2 {
  text-align: center;
  margin-bottom: 20px;
}
.form-responsive {
  display: flex;
  flex-direction: column;  
  gap: 15px;
  width: 100%;
  max-width: 400px;         
}
.campo {
  display: flex;
  flex-direction: column;
}

input,
textarea {
  padding: 8px;
  font-size: 14px;
}
button {
  padding: 10px;
}
@media (min-width: 768px) {

  .form-responsive {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
  }

  .campo:nth-child(3),
  button {
    grid-column: span 2;  
  }
}
